.panto-radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & .panto-radio-button {
    position: relative;
    width: 16px;
    height: 16px;

    &:after, &:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      transform: scale(1);
      transition: .4s ease-out;
      border: 1px solid #4285F4;
    }





    &:after {
      background-color: #4285F4;
      transform: scale(0);
    }

    &.active {
      &:after {
        transform: scale(0.7);
      }
    }



  }


  & .panto-radio-label {
    margin-left: 5px;
    display: flex;
    flex-direction: row;

    & label {
      margin: 0;
      padding: 0 5px;
      font-size: 12px;
    }

  }

}


.disabled {
  & .panto-radio-button {
    &:after, &:before {
      border-color: #71737A;
    }
    &:after{
      background-color: #71737A;
    }
  }
  & .panto-radio-label {
    & label {
      color: #71737A;
    }
  }

}